.parent{
    max-height: 100px;
}

.header{
    background-color: #42bcf5;
    /* background-color:#a88362; */
    height: 50px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}